/* src/pages/About.css */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  min-height: 70vh;
  /* width: 100%;      instead of 80vw */
  max-width: 1000px; /* optional: cap on large screens */
  margin: 0 0;   /* center if capped */
}

.about-left {
  flex: 1;
  max-width: 60vw;
  text-justify: inter-word;
  min-width: 50%;
}

.about-left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-left p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 2rem;
}

.about-left a {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  color: #007bff;
margin-bottom: 2rem;
}

.social-links {
  margin-bottom: -2rem;
  display: flex;
  /* gap: 1rem; */
  gap: 2rem;
}

.social-links a {
  font-size: 2rem;
  margin-right: 1rem;
  color: #d9a931;
  transition: color 0.2s;
  margin-bottom: 2rem;
}

.social-links a:hover {
  color: #007bff;
}

.about-right {
  display: flex;
  /* max-width: 25rem; */
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
}

.profile-image {
  width: 100%;
  border-radius: 2rem;
  max-height: 50vh;
  max-width: 50vh;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse; /* Puts image on top on mobile */
    text-align: center;
    min-height: 10vh;
    padding: 1rem 0.5rem;
  }
  .social-links {
    justify-content: center;
    display: flex;
  }
  .about-right{
    max-height: 45vh;
    margin-left: 0rem;
    margin-bottom: -4rem;
  }
  .about-left {
    justify-content: center;
    align-items: flex-start;
    max-width: 70vw;
  }
  .profile-image {
    max-width: 25vh;
    max-height: 25vh;
    height: 90%;
    border-radius: 2rem;
    margin-bottom: -1rem;
  }
  .about-left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
}